.App {
  text-align: center;
  padding: 20px 20px;
  background-color: #a6e4e7;
}
.App header {
  font-size: 70px;
  display: inline-block;
}
@media (max-width: 800px) {
  .App header {
    font-size: 50px;
  }
}
.App section {
  background-color: #f9f9f9;
  padding: 10px 20px;
  margin: 30px 50px;
}
