@media (max-width: 800px) {
  .Dictionary form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.Dictionary input {
  padding: 5px 20px;
}
.Dictionary button {
  margin-left: 15px;
  border-radius: 3px;
  background-color: #ebcbae;
}
